[2016-06-02 20:46] brettjurgens opened #5 "add test coverage for mutations"
add some test coverage for mutations

[2016-10-16 12:39] davidyaha opened #6 "Feature: Add enum support"
Currently the code does not handle GraphQL Enums. I think the wanted generator is a string literal union.
For example, the following enum:
[code]

Will become:
[code]

@brettjurgens  LMK if this a good option in you opinion.

Thanks ahead!

[2016-10-17 00:08] brettjurgens commented on #6
I like this idea, I can probably take a look tomorrow at implementing it or would accept a PR!

Been meaning to add some updates for TS2 (adding null types, etc)

[2016-10-19 01:09] #6 closed

[2016-10-19 01:16] brettjurgens commented on #6
@davidyaha checkout out v0.2.1, has support for Enums

[2016-10-27 20:05] valorize opened #9 "Field ID of type int is not converted to int but any"
See pull request https://github.com/avantcredit/gql2ts/pull/10. And just close this here ;)

I have a schema part like:
[code]

and it is converted to: `rowId?: any;`

Is it easy to convert it to number instead?

[2016-10-27 21:05] brettjurgens opened #11 "Typescript 2.0 Support"
- [ ] Add support for `null` and `undefined` types
- [ ] Require a flag?

[2016-10-27 21:10] brettjurgens opened #12 "Support Optional Transformations"
Should we support transformations?

i.e. running an output through https://github.com/domchristie/humps to camelize?

use case: API returns underscored values, client wants them in camelcase

[2016-10-28 02:36] #9 closed

[2016-11-14 17:16] valorize opened #26 "INode"
Hi, first thanks for this repo. It's awesome :D
A problem which I have is that field names may not used in different table more than once. Otherwise I get following warning:
[code]
In IQuery is a title function which gives me an MyTable row back but in MyTable itself is a field named title. So `interface INode extends IQuery, IMyTable...` complains.

[2016-11-14 17:35] brettjurgens commented on #26
i think this is the same issue as #25 which I just merged 😄

thanks for the kind words!

[2016-11-14 17:45] valorize commented on #26
Wow. Great timing.

[2016-11-14 17:52] brettjurgens commented on #26
yep, published in 0.4.0

[2016-11-14 17:52] #26 closed

[2016-11-14 18:05] valorize commented on #26
Before 0.4.0 I used `const moduleUtils = require('gql2ts/util/module');` is it replaced by another file?

[2016-11-14 18:06] brettjurgens commented on #26
yeah it's now called `gql2ts/util/namespace`, sorry for the trouble. When i moved from modules to namespaces i changed that file (~0.3.0)

[2016-11-14 18:12] valorize commented on #26
Ah, easy :D

[2016-11-18 16:11] brettjurgens opened #30 "Generate Interfaces from Query"
Allow an option to generate interfaces from a given query and schema

[2017-01-15 16:56] alloy opened #33 "How to deal with Field Aliases?"
In a GraphQL query we can [alias fields](https://github.com/mugli/learning-graphql/blob/master/3.%20Querying%20with%20Field%20Aliases%20and%20Fragments.md), which I’m wondering how one should deal with in TypeScript and a tool like this.

Seeing as it really is related to a _query_, rather than just the schema, I’m thinking that this should be dealt with by implementing something like #30.

The on

[2017-01-15 19:12] orta opened #35 "Handle attributes with no inputFields or fields"
We [have an enum](https://github.com/artsy/metaphysics/blob/b2f51d0d57bbe064b623bfda94fa3d2463d8ed2f/schema/show.js#L125-L147) with no fields, or inputFields [in the schema.json](https://github.com/alloy/relational-theory/blob/204609edfc99ee1fc55e6d9a60913ce24bcc65bd/data/schema.json#L7500)

[code]

This currently crashes the process. Will send a PR.

[2017-01-16 16:47] #35 closed

[2017-01-16 16:50] orta commented on #12
This is interesting, when I first tested this out, we went with changing our interfaces to `"{Thing}Type"` instead of `"I{Thing}"`. I think this pattern would work, allowing a user to supply their own `generateInterfaceName`, `generateEnumDeclaration` and `generateEnumName`.

[2017-01-16 16:54] brettjurgens commented on #33
i think we'd definitely need #30 to be done for this.

I've been slow to start working on it, but hopefully will find some more time soon.

as far as the relay stuff goes, I've been doing something kind of similar w/ webpack, (generating a `d.ts` for my .graphql queries). at this point it's super basic and doesn't make the interface; just allows the TS compiler to read the files.

whenever #30 get

[2017-01-16 16:55] alloy commented on #33
I’ve started looking at an implementation for #30, which I’ll use in a VSCode extension that dumps types for Relay fragments in the current file.

[2017-01-16 16:57] brettjurgens commented on #33
that'd be pretty sweet, if you get that working opensource it 😄

[2017-01-16 16:57] alloy commented on #33
Totally 👍

[2017-01-16 17:12] brettjurgens commented on #11
fixed in #34 & #32

[2017-01-16 17:12] #11 closed

[2017-01-16 17:20] brettjurgens commented on #12
i never thought of a good way to do this via the CLI. I think it'd have to be through an API.

otherwise i think we'd have to eval or something, which I'd prefer to avoid

open to any suggestions

[2017-01-16 19:59] orta commented on #12
I think it does need evaling and exposing some object, this feels like a common practice ( at least, I got a PR to do it [in Danger](https://github.com/danger/danger-js/pull/71) and I'm using it in React Native to handle TypeScript files.

I guess an alternative is passing in a format string for different ones -> e.g. for generateInterfaceName `"I${name}"`

[2017-01-23 23:57] alloy commented on #33
I started looking at this, but it quickly became harder to make it work inside this project rather than standalone (needed TS & GraphQL parsers, plus our needs were around Relay), so in the end I went that route: https://github.com/alloy/relay2ts.

As the name implies, it’s currently tied to Relay, but it should be easy to generalise it to regular GraphQL queries. Let me know if/when you want to t

[2017-01-24 00:23] brettjurgens commented on #33
nice, I'm gonna take a look tonight or tomorrow.

I need to refactor this a bit and after that, maybe it'll be easy to combine the two efforts

[2017-02-09 20:59] danvk commented on #30
Apollo codegen does this: https://github.com/apollographql/apollo-codegen

[code]

[2017-02-14 01:25] maxcan opened #42 "Allow option to omit __typename from generated interfaces"
So I'm using gql2ts to generate interfaces to statically typecheck my resolver functions.  One issue is that those functions should not populate the `__typename` field in the objects they return but then the returned objects fail to typecheck.

Would there be interest in adding an option to omit the `__typename` fields or possibly include them in a subtype?  If so, I'll write and send a PR.

so, i

[2017-03-10 19:16] CWSpear opened #43 "Support for schemas by URLs"
Would you be interested in supporting passing in a URL as opposed to only a filename?

That way, we could do something like:

[code]

and get our generated types.

https://www.npmjs.com/package/fetch-graphql-schema supports taking a URL and returning JSON, so most of the work is already done.

I'd be willing to do a PR if this was something you were interested in. For now, I can do it in 2 steps (

[2017-03-13 15:01] brettjurgens commented on #42
sorry for the late reply, I'm not sure the best way to do this. But if you want to open a PR, I'll take a look 😄

[2017-03-13 15:04] brettjurgens commented on #43
I'm not opposed to it, should just be a fetch w/ the introspection query.

Another idea could be to support stdin and then the result of the `fetch-graphql-schema` could be piped into gql2ts. That could be potentially useful

[2017-03-13 16:02] CWSpear commented on #43
Yeah, that was an option I considered as well. It's one I tried before I checked to see if it was supported (it was not, haha).

[2017-03-14 21:50] brettjurgens commented on #43
yeah, i definitely think stdin and stdout could be immensely useful. i'm open to adding fetch support though as well

[2017-03-14 23:09] brettjurgens commented on #43
@CWSpear PR for accepting stdin and outputting to stdout: https://github.com/avantcredit/gql2ts/pull/44

[2017-03-21 16:49] #43 closed

[2017-03-21 16:54] brettjurgens commented on #43
v0.6.0 will now accept stdin/stdout

[2017-03-22 22:28] brettjurgens commented on #33
making some progress in #46

[2017-03-22 22:30] brettjurgens commented on #30
`apollo-codegen` writes directly to a file instead of allowing access to the value. i want to call a function and have it return the text. i looked into codegen a little while back and the file stuff was deeply engrained in it.

working on this in #46

[2017-03-29 17:20] danvk opened #47 "Output ES6 module"
I'd like to be able to import generated interfaces using ES6 syntax rather than triple-slash references.

This could be as simple as emitting

[code]

instead of

[code]

[2017-03-29 18:02] brettjurgens commented on #47
I've been working on https://github.com/avantcredit/gql2ts/pull/46 recently and i will be adding an option to overwrite default functions (i.e. interface name generation, namespace generation, etc.) to both the new stuff and the old one.

i think the implementation will be like

[code]

and then you run it like

[code]

then gql2ts does something like

[code]

still thinking it out, but i plan to

[2017-03-29 18:17] danvk commented on #47
Yep, that would do the trick. In the meantime I can work around with:

[code]

[2017-03-31 06:38] mlegenhausen opened #48 "stdin mode prepends usage to output"
When reading from stdin and writing to stdout the usage information of `gql2ts` is prepended to the output. This does not happen when an output file is specified.

[2017-03-31 15:37] brettjurgens commented on #48
ah, that's not good. i see the problem though, i'll push a fix

thanks!

[2017-03-31 15:42] #48 closed

[2017-03-31 15:44] brettjurgens commented on #48
@mlegenhausen fixed in 0.6.1

[2017-03-31 21:58] eboto opened #51 "Promise support on all fields"
Hi,

Would be super useful if each field of a record accepted either the type itself or a promise to the type. e.g. given a schema:

[code]

The generated code currently looks like this:
[code]

When using Apollo it would be nice on the server side for the generated `IPost` interface to look more like:

[code]

What would you think of such a change?

[2017-04-01 16:24] brettjurgens commented on #51
sorry, I'm a little confused why it would be a promise. Perhaps I'm missing something.

anyway, in https://github.com/avantcredit/gql2ts/pull/46 i plan to support custom formatting functions, so if you provided something like:
[code]
it would definitely be possible

does that work?

I'm hesitant to wrap everything in a promise. that particularly would not work for my use case of this library and I

[2017-04-01 17:56] eboto commented on #51
Hi Brett,

Your solution for #46 will work great for us!

As for our use case. I'm trying to make objects on the server side that implement these interfaces. Some of the objects that I create can not produce the properties in memory and must make remote calls. e.g. in order to get a post's list of authors I must hit the database.

As such, when I try to implement `Post.authors` on that type, I can

[2017-04-14 16:45] #12 closed

[2017-04-14 17:12] brettjurgens commented on #51
@eboto i just merged #46 and published it on npm as `gql2ts@next`

can you make a file like
[code]

and run `gql2ts` as `gql2ts {normal parameters} -e ./overrides.js`

and let me know if it works for your usecase?

[2017-04-14 17:14] brettjurgens commented on #47
@danvk i just merged #46 and published it on npm as `gql2ts@next`

can you make a file like
[code]

and run `gql2ts` as `gql2ts {normal parameters} -e ./overrides.js`

and let me know if it works for your use case?

[2017-04-14 17:15] brettjurgens commented on #33
@alloy should work now with #46 being merged. install `gql2ts@next` and let me know!

there's a new option to load a query and it will generate the interfaces based on that instead of the whole thing. Because of this, aliases work 👌

[2017-04-14 17:16] brettjurgens commented on #30
closed with #46

[2017-04-14 17:16] #30 closed

[2017-04-14 23:09] eboto commented on #51
Hey Brett! Thanks for the change. Came across an error while trying it
[code]

I think this PR will fix the particular problem https://github.com/avantcredit/gql2ts/pull/53

[2017-04-14 23:22] eboto commented on #51
Now I get this error:
[code]

due to the import at the top of `overrides.js`.

This could be because gql2ts is installed locally, not globally. However I would like to keep it that way.

[2017-04-14 23:22] eboto commented on #51
OK all fixed! This was the final `overrides` that worked for me:

[code]

[2017-04-14 23:22] eboto commented on #51
Giving it a try now for our use case. Thanks for building this. =)

[2017-04-15 00:21] brettjurgens commented on #51
👍 thanks for the PR, planning on adding some testing to the CLI

[2017-04-16 20:25] zamiang commented on #47
After https://github.com/avantcredit/gql2ts/pull/53 is published to `gql2ts@next`, we can do something more like: (I ran into the same issue as #53 and was about to submit a PR!)

[code]

[2017-04-16 21:29] brettjurgens commented on #47
@zamiang `gql2ts@next` has been updated to 1.0.0-alpha.6 which includes the changes in #53 😃

[2017-05-08 14:59] brettjurgens commented on #5
should be covered now

[2017-05-08 14:59] #5 closed

[2017-05-08 15:00] brettjurgens commented on #51
@eboto just published 1.0.0, can i close this issue?

[2017-05-08 15:01] brettjurgens commented on #47
@zamiang published 1.0.0, can i close this issue?

[2017-05-08 15:02] brettjurgens commented on #33
@alloy this should be fixed in 1.0.0. can you check? i'd like to close this issue if it's all good 😄

[2017-05-08 15:33] zamiang commented on #47
LGTM! Have been using alpha 6 and just switched to 1.0. Confirmed it works as well.

[2017-05-08 15:33] brettjurgens commented on #47
awesome 👍

[2017-05-08 15:33] #47 closed

[2017-05-08 18:09] eboto commented on #51
Yes! Congrats on the big release and thanks for being so responsive & helpful on the issue. Closing it =)

[2017-05-08 18:09] #51 closed

[2017-05-11 00:38] zephraph opened #59 "Define function type for root resolvers of queries, mutations, and subscriptions."
Let's say I have a schema something like this...

[code]

I would like to generate the type definition of the actual resolver functions themselves for queries, mutations, and subscriptions.

[code]

This would allow simple typechecking of resolvers (or other things)...

[code]

This way if your schema file changes but someone forgets to update the resolvers, mutations, etc then you're covered.

Th

[2017-05-11 03:07] brettjurgens commented on #59
can totally see the utility in this.

will probably be able to utilize the new custom language/formatter features from the 1.0.0 release

i'm gonna sleep on this and come back to it tomorrow morning

[2017-05-11 03:45] #33 closed

[2017-05-14 00:42] zephraph commented on #59
Any thoughts? I'd be willing to help out, put in a PR. Could just a nudge in the right direction though.

[2017-05-14 03:01] brettjurgens commented on #59
yep, I'm not sure it can be done as-is with just a format package.

but I think it should be semi-easy, given the `from-schema` code.

unfortunately, I'm moving this week and have limited time until around wednesday, when I'll have time to take another look at it.

definitely feel free to get started w/ a PR if you'd like, if not, I'll for sure get around to it on wednesday

[2017-05-18 15:55] brettjurgens commented on #59
@zephraph haven't forgotten about this, will start on a PR today 😄

[2017-05-26 17:08] arondesign opened #65 "TypeError: type.getFields is not a function"
Hi there, great work on this project so far! I ran across an issue in typeToInterface in fromSchema/index.ts. If a GraphQLUnionType is used in the schema, it throws `TypeError: type.getFields is not a function` at Line 173 in :

[code]

[2017-05-26 17:09] brettjurgens commented on #65
nice, thanks for the report.

do you have a minimal reproduction so I can take a further look?

[2017-05-26 17:27] arondesign commented on #65
Sure, try running the schema.json gist I posted up at: https://gist.github.com/arondesign/acab6ce16b8a2128e6431de6c6a9f0b4

[2017-05-26 18:28] brettjurgens commented on #65
thanks, found the issue 😄 #66

[2017-05-26 18:46] #65 closed

[2017-05-26 18:49] brettjurgens commented on #65
@arondesign should be fixed in v1.0.1

[2017-05-26 18:54] arondesign commented on #65
Awesome!

On Fri, May 26, 2017 at 11:49 AM, Brett Jurgens <notifications@github.com>
wrote:

[2017-05-30 16:55] arondesign commented on #65
Hi @brettjurgens, I think this still needs one adjustment. If you run the schema.json file I sent you, you'll notice in

[code]

IProducts is undefined. However, the following is generated

[code]

The unioned types do share a common interface (ConfigurationInterface), but the output for
[code]

should instead read
[code]

Or of course, just "ProductUnion" for both.

[2017-05-31 04:13] brettjurgens commented on #65
whoops. don't know what i was thinking there. fixed in #69

[2017-06-01 15:48] brettjurgens commented on #65
@arondesign 1.0.2 should work, i ran it against your schema and it looked good

[2017-06-02 08:22] mlegenhausen opened #71 "TypeError: type.getFields is not a function"
I used 1.0.2. The problem only occurs when I install `gql2ts` with `npm i gql2ts` without `-g` option.

[code]

[2017-06-02 15:29] brettjurgens commented on #71
so it works when installing globally?

that's strange. would it be possible to get a minimal reproducible example?

[2017-06-03 15:03] epicallan commented on #71
I am having this same exact issue.

[2017-06-03 15:33] epicallan commented on #71
It seems this issue was due to missing peer dependencies for me or incompatible dependencies.

[2017-06-05 15:57] brettjurgens commented on #71
@mlegenhausen if you remove `npm_modules` and reinstall, does it work? do you have `@gql2ts/from-schema` in your package.json with a lower version?

[2017-06-05 20:40] zamiang commented on #71
Getting the same issue using yarn and struggling to resolve.

If I rm `yarn.lock` and all `node_modules` then re-install, I get this error every time. Tried pinning to 1.0.0, 1.0.1, 1.0.2 and 1.0.3 (which doesn't have corresponding commits?). Agree with @epicallan that it is something with incompatible dependencies.

[2017-06-05 20:43] zamiang commented on #71
Fix for me was to upgrade `gql2ts` to 1.0.3 and `graphql` to 0.10.x (from 0.9.x in my case)

[2017-06-06 07:22] mlegenhausen commented on #71
@brettjurgens problem is fixed in in `1.0.3`. Thanks 😄

[2017-06-06 07:22] #71 closed

[2017-06-06 16:00] brettjurgens commented on #42
fixed in #72

[2017-06-06 16:00] #42 closed

[2017-06-08 17:41] epicallan opened #75 "How would you feel about a PR for adding a glob functionality for .gql or .graphql files"
My graphql schema types are in individual files and i don't export them out as string.
I had some logic in my code that would merge them together and then feed them into the generateNamespace function of the fromSchema package to generate typescript types.

I have gotten to a point where I want to do this using the CLI.
The CLI API currently supports only taking in one schema type file for generat

[2017-06-12 21:05] lanemt commented on #75
I would like that feature -

I ran into the same problem and solved it by writing some bash script to combine my graphQL files
[code]

[2017-06-12 21:08] brettjurgens commented on #75
@epicallan sure thing, feel free to open a PR and I'll take a look 😄

[2017-06-13 00:16] steadicat opened #76 "Weird nested interface syntax generated for fragments?"
I’m seeing weird syntax in the exported TypeScript definitions when using fragments in queries. Interfaces are nested inside each other like this:
[code]

Is this intentional? I've never encountered this syntax before. The TypeScript compiler doesn't seem to know what to do with it. It doesn't throw an error but it seems like it interprets it as `IFragmentSidebar: any;`.

[2017-06-13 14:57] brettjurgens commented on #76
Nope, definitely not intended. Could you send over a reproduction schema & query so that I can take a look?

[2017-06-13 23:10] steadicat commented on #76
I can't find a quick way to test a schema + query, but you should be able to repro with a simple fragment spread. Something like this:

[code]

[2017-06-13 23:39] brettjurgens commented on #76
we have tests that look like those and seem to work fine https://github.com/avantcredit/gql2ts/blob/master/test/from-query-normalSchema.js

how are you running this? `gql2ts` command line? `from-query`, `from-schema`? how are you invoking it?

need some more information and, ideally, a way to reproduce it

[2017-07-09 07:39] epicallan opened #78 "Am I right to assume the language flow package as an incomplete work in progress."
I wanted to have flow as a target language but so not tests or examples hence my assumption that its a work in progress. If its incomplete it would be good to update the readme to that effect.

[2017-07-09 22:36] brettjurgens commented on #78
It should work fine. It was more of an example of how to extend this to generate outputs for other languages.

Does it not work? I believe there are only minor differences between flow and ts, which I think were accounted for

[2017-08-06 21:21] Birowsky opened #83 "Lacking input types"
This is what I get as a type for a query:

[code]

Why? Shouldn't I expect this package to generate types for the arguments as well?

[2017-08-08 16:26] brettjurgens commented on #83
hi, can you add a reproducible case/what you're doing to get that?

i think you're using `@gql2ts/from-schema`. I don't think that this generates input types, but it should be trivial to add it

`@gql2ts/from-query` will definitely generate input types for a query

[2017-08-09 09:56] Birowsky commented on #83
Sorry, this is the schema I was trying on:
[code]
I'm trying to generate types for the server resolvers, so arguments types are essential, don't you think?

[2017-08-24 23:11] felixfbecker opened #84 "Add string literal as __typename"
When doing a query like this
[code]
on a schema like this
[code]
you need to do a type check in the TS code to find out what type the results are, like this
[code]

TypeScript supports this through [discriminated unions](https://www.typescriptlang.org/docs/handbook/advanced-types.html#discriminated-unions) if the schema in TS looks like this:
[code]
but it currently looks like this:
[code]

[2017-08-25 03:22] brettjurgens commented on #84
:+1: great idea. I can take a look tomorrow

[2017-08-26 01:33] felixfbecker opened #85 "TypeError: type.getFields is not a function"
Getting this error when running gql2ts from an introspection query:
[code]
This started happening after I added a union type. Could that be related?

[2017-08-27 21:39] brettjurgens commented on #85
@felixfbecker hmm, possibly. would you be able to give me a schema to reproduce with?

[2017-08-27 23:32] felixfbecker commented on #85
Sure [schema.json.zip](https://github.com/avantcredit/gql2ts/files/1254778/schema.json.zip)

I got it through introspection with https://github.com/graphcool/get-graphql-schema

[2017-08-27 23:36] brettjurgens commented on #85
awesome, thanks. taking a look now

[2017-08-27 23:43] brettjurgens commented on #85
cool, i've reproduced it. strangely enough it's because the string type is returning false for `instanceof GraphQLScalarType`.

looking trying to see why this is happening

[2017-08-28 00:31] #85 closed

[2017-08-28 00:59] brettjurgens commented on #85
@felixfbecker published 1.1.3, it should be fixed in there!

[2017-08-28 01:19] #84 closed

[2017-08-28 01:19] brettjurgens commented on #84
@felixfbecker just published 1.2.0 with this

[2017-08-28 01:36] felixfbecker commented on #85
Still happening in 1.2.0 :(
[code]

[2017-08-28 01:40] felixfbecker commented on #84
Awesome, thanks!

[2017-08-28 01:43] brettjurgens commented on #85
weird, i just ran it with the schema.json w/o errors

[code]

and here's the schema that gets uploaded:
[gqlschema.d.ts.zip](https://github.com/avantcredit/gql2ts/files/1254878/gqlschema.d.ts.zip)

could you check that the version is in fact updated? you can run `gql2ts -V` to get the running version

[2017-08-28 01:59] felixfbecker commented on #85
Yeah, checked the version. Weird. Maybe the schema changed?
[schema.json.zip](https://github.com/avantcredit/gql2ts/files/1254898/schema.json.zip)

[2017-08-28 02:03] felixfbecker commented on #85
Appreciate your help!

[2017-08-28 02:04] brettjurgens commented on #85
Can you check the version of `@gql2ts/from-schema`? It should also be 1.2.0

[2017-08-28 02:05] felixfbecker commented on #85
yup
[code]

[2017-08-28 02:13] brettjurgens commented on #85
hmm, the new one is still working for me

just for completeness sake, can you double check that the `package.json` lists 1.2.0 for both modules?

maybe try clearing `node_modules` and reinstalling?

super weird...

[2017-08-28 02:23] felixfbecker commented on #85
Hmm, `npm info` doesn't show `@gql2ts/from-query@1.2.0`
[code]
It's also not listed here: https://www.npmjs.com/package/@gql2ts/from-query

[2017-08-28 02:24] felixfbecker commented on #85
Oh sorry, `from-schema`. That's definitely at 1.2.0, checked the package.json

[2017-08-28 02:25] felixfbecker commented on #85
Note that the stack trace now has a different line number

[2017-08-28 02:28] brettjurgens commented on #85
yep just noticed that, definitely looks like it's the right version.

can you get me the version installed for graphql as well?

[2017-08-28 03:58] felixfbecker commented on #85
[code]
I confirmed that the packages are correctly exactly as `npm ls` says

[2017-08-28 04:41] felixfbecker commented on #85
Does it still work when you install `get-graphql-schema`? That package has a dependency on `graphql@^0.9.1` (which resolves to `0.9.6`), but it seems like `@gql2ts/from-schema` needs `^0.10.1`. The problem is that `@gql2ts/from-schema` doesn't declare this dependency, only `@gql2ts/util`. So `@gql2ts/util` will get its own `node_modules` folder with `graphql@0.10.5`, but `@gql2ts/from-schema` when

[2017-08-28 15:17] brettjurgens commented on #85
yeah, i realized that, so it's not only doing `instanceof`.

it also checks for the `_scalarConfig` see https://github.com/avantcredit/gql2ts/blob/master/packages/from-schema/src/index.ts#L48

let me see if 0.9.6 has something different i can check for

[2017-08-28 15:18] felixfbecker commented on #85
Can't you make sure that it uses the correct graphql version instead? Could you add it as a dependency to from-schema? I feel like any other approach is prone to break again in the future

[2017-08-28 15:27] brettjurgens commented on #85
sure that works. seems like the issue is `0.9.x` doesn't support `getFields` on unions, so that's the issue

[2017-08-28 15:53] brettjurgens commented on #85
@felixfbecker 1.2.1 has versions pinned

[2017-08-28 16:07] felixfbecker commented on #85
awesome, works now! Thanks a lot!

[2017-08-28 16:40] felixfbecker opened #90 "__typename not added to all types"
After updating to the latest version, I get this diff on my schema:
[code]

[2017-08-28 16:43] brettjurgens commented on #90
weird...

other than the `__typename`s, the other changes are expected, right?

just want to make sure before diving in

[2017-08-28 16:45] felixfbecker commented on #90
Hmm, not sure. Seems like before the nullable properties were `string | null`, now they are effectively `string | null | undefined`

[2017-08-28 16:47] brettjurgens commented on #90
based on the schema.json from the last issue, it looks like SearchQuery is an input object, is that right?

input objects don't have `__typename` (you don't send `__typename` to an input) and nullable properties are `undefined` (i.e. not present on the input)

[2017-08-28 16:48] felixfbecker commented on #90
Oh, that makes a lot of sense. So the behaviour was wrong before and is correct in the latest version. Thanks!

[2017-08-28 16:48] #90 closed

[2017-09-17 18:36] BjornMelgaard opened #91 "Generate typescript types without namespace"
how to generate ts typings without namespace wrapper? only export each interface

[2017-09-18 16:32] brettjurgens commented on #91
you should be able to make a custom language module, see something like:

https://github.com/avantcredit/gql2ts/blob/master/packages/language-typescript/src/index.ts

then just make the namespace generator export only the interfaces

if using the CLI can load the module using with the `-e` option (see https://github.com/avantcredit/gql2ts/tree/master/packages/cli#usage-explanation)

let me know if

[2017-09-18 16:34] BjornMelgaard commented on #91
ok, tnx

[2017-09-18 16:34] #91 closed

[2017-10-01 00:55] felixfbecker opened #92 "Update to graphql.js 0.11"
Hitting those duplicated module errors again 😞  Updating would solve it 👍

[2017-10-02 22:41] felixfbecker opened #93 "Read schema from .graphql schema file/stdin instead of from JSON"
This would be a nice convenience feature.

[2017-10-03 01:18] brettjurgens commented on #93
i think that should be easy to support, i'll take a look

[2017-10-03 01:18] brettjurgens commented on #92
👍 i'll take a look

[2017-10-03 14:04] adamkl commented on #92
A friend of mine pointed me to [greenkeeper](https://greenkeeper.io) for dealing with issues like this. Free for public repos, might want to take a look.

[2017-10-03 16:15] brettjurgens commented on #92
@adamkl yeah [we definitely used to have greenkeeper set up](https://github.com/avantcredit/gql2ts/pulls?q=is%3Apr+is%3Aclosed+label%3Agreenkeeper), but i'm not sure what happened

[2017-10-06 05:06] felixfbecker opened #95 "Comments on fields"
Seems like currently there are no docblocks generated for comments on fields, only for types

[2017-10-06 06:08] brettjurgens commented on #95
I have a branch for this, I'll push it up in the morning

[2017-10-06 06:17] felixfbecker commented on #95
Nice

[2017-10-06 16:14] brettjurgens commented on #92
@felixfbecker https://github.com/avantcredit/gql2ts/pull/94

[2017-10-06 16:15] brettjurgens commented on #92
fixed in #94

[2017-10-06 16:15] #92 closed

[2017-10-09 22:23] #95 closed

[2017-10-10 06:38] raysuelzer opened #98 "-e flag does not work"
There is an error in the genereateNamespace method on 'from-schema' in the Object.assign which causes the external language options to be ignored when an ES module is specificed.

This line of code:
https://github.com/avantcredit/gql2ts/blob/master/packages/from-schema/src/index.ts#L293

results in an call to Object.assign.  However, due the ES6 module definition you will end up with overrides bei

[2017-10-10 06:44] raysuelzer commented on #98
Just as an aside, the overrides work fine when using CommonJS modules, but not ES modules, as common JS does not define a 'default'.  So `module.exports = {}` does work to override. `exports.default = {}' does not.

[2017-10-10 14:42] brettjurgens commented on #98
ah, looks like it just does a `require` (https://github.com/avantcredit/gql2ts/blob/master/packages/cli/src/index.ts#L34) so it'd make sense that it doesn't work. i can change the docs

[2017-10-16 15:44] akeelnazir opened #100 "generated TypeScript interfaces file doesn't have any exported entities"
Command-line: `gql2ts schema.json -o src/app/interfaces.ts`

[code]

The types and namespace is in the generated interfaces.ts file, but how can I use those interfaces, since they are not exported.

[2017-10-16 15:49] brettjurgens commented on #100
you can do something like `GQL.IGraphQLResponseRoot`

[2017-10-17 08:41] akeelnazir commented on #100
As per your medium post at https://medium.com/@brettjurgens/graphql-typescript-strongly-typed-api-responses-f8aea1e81b93, running gql2ts generates a TS file with exported interfaces, which can be then be used in other TS files. Here is a snippet from your post;

[code]

The TS file that I get on running gql2ts doesn't export interfaces, therefore, I can't use these interfaces in my TS files.

[2017-10-19 00:52] raysuelzer commented on #100
Hey everyone.  I know this isn't an ideal solution., but there is a way to define your own exporter, which I did to solve this problem.  See the attached file.  To use this I run the following:
`gql2ts schema.json -o ./src/schema.ts -e '/my/full/path/to/custom-exporter/gql2ts'

See attached.
[custom-exporter.zip](https://github.com/avantcredit/gql2ts/files/1396760/custom-exporter.zip)

[2017-10-19 12:25] wakemaster39 commented on #75
this feature would definitely be appreciated to be merged in. I have a work around in place for now that I would much rather remove in place of this.

[2017-10-19 14:32] akeelnazir commented on #100
Hi @raysuelzer,

Would it be possible for you to implement the fix in the repo and submit a PR to @brettjurgens ?

Thanks
Akeel

[2017-10-19 14:59] brettjurgens commented on #100
sorry for the late reply, been super busy at work.

what we do over here is add the generated file to our type roots, then in any file in the project can reference our stuff like `GQL.IWhatever`.

i.e.

[code]

[2017-10-20 07:55] akeelnazir commented on #100
Thanks @brettjurgens. This works 👍

[2017-10-20 07:55] #100 closed

[2017-10-22 00:54] raysuelzer commented on #98
Thanks!

[2017-10-22 00:58] raysuelzer commented on #100
Yeah, I didn't want to put in a PR because I'm not sure what the intended functionality is.  What is nice though is being able to override the defaults!  I also removed prefixing interfaces with `I` because Typescript guidelines recommends against this, but it's all personally preference.

[2017-10-23 22:53] felixfbecker commented on #93
Did you find a way to do this?

[2017-10-24 17:45] brettjurgens commented on #93
i took a look and it should be easy to do from a file, but probably a little more involved for stdin. I'll try to get around to this in the next day or two

[2017-10-24 17:46] felixfbecker commented on #93
I personally just need it to be read from file

[2017-10-24 18:05] #98 closed

[2017-10-24 18:12] brettjurgens commented on #93
@felixfbecker can you try https://github.com/avantcredit/gql2ts/pull/101

[2017-10-24 22:07] felixfbecker opened #102 "Don't use STDIN if file name is provided even if not a TTY"
When running `gql2ts` as part of certain task runners STDIN will not be a TTY.
This causes this code here:

https://github.com/avantcredit/gql2ts/blob/4e36bd52fc81a3c8fbffd5685a0a3933a3474f5b/packages/cli/src/index.ts#L64-L74

to read from STDIN even if a filename is provided, which ultimately will result in the hard-to-debug error
`GraphQLError: Syntax Error GraphQL request (1:1) Unexpected <EOF>

[2017-10-28 18:05] jwickens commented on #78
I'm using flow and having some issues. First of all, there is no CLI options for using flow (from what I could tell). So I used the from-schema package. generateNamespace is the documented way to do it, and flow does not support namespaces.

Another issue I'm having are duplicated type names, which is because I want a graphql type to exported as a type, not as an interface. More on that in a separ

[2017-10-28 18:11] jwickens opened #103 "Why are Graphql Types converted into interfaces ?"
Here's a snippet from one of my flow exports

flowtypes.js
[code]

schema.graphql
[code]

I can sort of see why this decision was made - you wanted a concrete type with the name of the interface that is a union of all the types implementing that interface. So to get around that you moved all graphql types to be interfaces and only generate types for these unions. It seems unnecessary and its confu

[2017-10-29 03:45] brettjurgens commented on #78
@jwickens I'm not using flow but if you could set me up with a starter repo, I'd be glad to help through the issues you've encountered

[2017-10-31 00:32] brettjurgens commented on #78
@jwickens you should be able use the -e flag with `@gql2ts/language-flow` to load flow.

[2017-10-31 00:48] brettjurgens commented on #102
Makes sense, I'll take a look tomorrow, but doesn't seem too difficult.

What task runner are you using to do this? Is there a reason not to use the package itself over the cli tool?

[2017-10-31 00:54] felixfbecker commented on #102
There's a top level build bash script which eventually calls [goreman](https://github.com/mattn/goreman) to spawn a bunch of concurrent processes, one of which is `npm run watch`, which runs `concurrently` which runs `chokidar schema.graphql -c "gql2ts -o graphqlschema.d.ts schema.graphql"`. This sounds more complicated than it really is and introducing a JS build script would be harder to maintai

[2017-10-31 00:56] brettjurgens commented on #102
Definitely reasonable, I was just curious what the use case was. Sorry if it came off otherwise

[2017-10-31 01:22] #93 closed

[2017-10-31 02:08] felixfbecker commented on #102
not at all :)

[2017-11-01 16:38] KaySackey commented on #102
I'll +1 this. I had the same issue running it as a task via Webstorm. It can be worked around by echoing something to the script first, like `echo '' > gql2ts ./gql/schema.json -o ./frontend/gql/schema.ts` , but it'd be better if it didn't block on reading when it doesn't have to.

[2017-11-03 17:57] felixfbecker opened #107 "const enums for enums"
It would be awesome if GraphQL enums were converted to `const enum` instead of union types. That way we could write `GitHubGQL.IStatusStateEnum.SUCCESS` as a value instead of `'SUCCESS'`

[2017-11-04 09:42] jwickens commented on #103
Its not so much the interface, as the conflicting name and the lack of options (at least from what I found) around the union type. For my situation what would be nice:

- graphql types and interfaces exported to flow interface with original name
- graphql implementations exported to flow union with name like: interface + Implementation

[2017-11-11 19:05] arahansen commented on #103
Hey, so I took a stab at building a more "flow-esque" type generation format that matches the nomenclature that flow tends to use. This is the gist of it (using lodash, and node require instead of es modules). If there is interest, I'd be happy to open a PR with these changes to the packages/flow-language settings:

[code]

[2017-11-12 17:29] brettjurgens commented on #103
@arahansen looks good to me, a PR would definitely be welcome 😄

FWIW you can also use `pascalize` from `humps` as it's already depended on by [`@gql2ts/language-typescript`](https://github.com/avantcredit/gql2ts/blob/master/packages/language-typescript/src/index.ts#L17)

[2017-12-21 23:34] #102 closed

[2017-12-22 00:21] brettjurgens commented on #107
nice idea, let me see if I can get something going

[2017-12-22 09:02] felixfbecker opened #114 "If field is deprecated, add @deprecated to docblock"
That would allow to catch usage of deprecated fields with the deprecation TSLint rule https://palantir.github.io/tslint/rules/deprecation/

[2017-12-22 09:08] #103 closed

[2017-12-22 23:47] brettjurgens commented on #114
been meaning to do this for some time, good idea.

i think i might also add a flag to outright remove deprecated fields

[2018-01-08 22:38] #114 closed

[2018-01-23 09:01] tusharmath opened #127 "Autogenerate a JS file to make imports easier"
There should be an option to auto generate a `.js` file which contains the original query.

Technically it would create two files — `.d.ts` and a `.js` file. This will make life much easier because then u can simply import the file. The corresponding `.d.ts` file will also have to contain an additional typings as follow —
[code]

I'd be happy to send a PR !

[2018-01-23 14:40] brettjurgens commented on #127
I do something similar w/ our webpack build for use with apollo-client. we have a simple loader that creates a `.d.ts` file and generates the graphql document required by apollo.

I can publish the code, but here it is:

[code]

[2018-01-24 02:41] tusharmath commented on #127
Yup we too have a custom solution implemented like yours

[2018-02-01 23:32] arahansen opened #131 "TypeScript 2.7 breaks cli"
the [typescriptPrettify](https://github.com/avantcredit/gql2ts/blob/master/packages/language-typescript/src/typescriptPrettify.ts#L34) module depends on the `typescript.formatter.RulesProvider` it seems this was removed in a recent release of TypeScript.

Since the CLI pulls this module in, I'm not able to use it on `gql2ts@1.4.0`

`language-typescript` declares its typescript depdency as `^2.2.2`

[2018-02-02 00:55] brettjurgens commented on #131
that's not good, i'll lock the version down in the meantime

[2018-02-02 01:31] #131 closed

[2018-02-02 01:34] brettjurgens commented on #131
@arahansen i've just published version 1.4.1. would you mind trying and seeing if it fixes this issue?

[2018-02-02 01:44] brettjurgens opened #133 "Typescript Formatter"
Per #131, typescript has changed their formatting api.

Moving forward, we should find a better option.

Some options of the top of my head:
1. remove formatter from the core language package and continue with the previous "best effort" approach
    - Users might not like the formatting looking weird
    - Faster & cleaner code
    - Current setup allows for user provide their own formatter anyway

[2018-02-02 01:45] brettjurgens commented on #131
opened #133 to further the discussion about how to proceed

[2018-02-02 18:23] arahansen commented on #133
Prettier is an excellent tool in my opinion. Since it now has pretty robust TypeScript support, this seems like the winner to me. Which dependencies would need to be taken on besides prettier?

[2018-02-02 18:25] arahansen commented on #131
Changes look good on 1.4.1. Thanks for the fix!

[2018-02-02 18:36] brettjurgens commented on #133
@arahansen sorry, what I meant by that is that prettier has a [good amount of dependencies](https://github.com/prettier/prettier/blob/master/package.json#L17-L60) that we'll have to take in.

I completely agree that prettier is awesome, I use it every day 😄, but I'm not sure I want to force users to have it.

I was thinking the default package could do something like

[code]

[2018-02-23 15:53] #133 closed

[2018-03-07 15:18] brettjurgens commented on #127
@tusharmath sorry for being stagnant on this, would gladly accept a PR 😄

[2018-03-07 16:48] ecwyne commented on #83
It would be really nice to have argument types generated (on the server for resolvers)

For example:

[code]
I would like (something like) this generated:
[code]
So that I can use them in my resolvers
[code]

[2018-03-07 16:52] brettjurgens commented on #83
@ecwyne that is related to #59 and #62. I'm going to see if I can get around to this today or tomorrow

[2018-03-08 22:25] #83 closed

[2018-03-08 23:58] voxmatt opened #150 "type.getFields strikes again"
I know there have been several issues on this in the past (I've been through this before!) and all had been fixed. But it appears that Graphql 0.13 may break this again

I'm on version `1.4.1` of gql2ts and all was working. But upon upgrading `relay-compiler` to version `1.5` everything started breaking. On further inspection, `relay-compiler` 1.4.0` requires graphql `^0.11.3` and version `1.5` up

[2018-03-09 00:14] brettjurgens commented on #150
makes sense, i'll loosen the version restriction in gql2ts

[2018-03-09 00:15] voxmatt commented on #150
Thanks for the quick reply!

[2018-03-09 00:36] brettjurgens commented on #59
this is closed in #148

[2018-03-09 00:36] #59 closed

[2018-03-09 00:37] brettjurgens commented on #150
@voxmatt can you try installing `1.5.0-alpha.90415fad` and see if that works?

[2018-03-09 00:42] voxmatt commented on #150
Just tried, still getting:
[code]

[2018-03-09 00:44] brettjurgens commented on #150
@voxmatt ahh that's a bug in master that i'm fixing right now. let me cherry-pick that into an earlier version and publish.

[2018-03-09 00:47] brettjurgens commented on #150
@voxmatt ok, can you try `1.5.0-alpha.51c55d43`, which is v1.4.3 + https://github.com/avantcredit/gql2ts/pull/152

[2018-03-09 00:53] voxmatt commented on #150
Sorry @brettjurgens, still errors:
[code]

[2018-03-09 00:56] brettjurgens commented on #150
@voxmatt can you make sure that `@gql2ts/from-schema` is at `1.5.0-alpha.51c55d43`? that code shouldn't exist in that release (see: https://unpkg.com/@gql2ts/from-schema@1.5.0-alpha.51c55d43/dist/index.js)

[2018-03-09 01:16] voxmatt commented on #150
yep, verified. `node_modules/gql2ts/package.json`
[code]

Error is:
[code]

[2018-03-09 01:17] brettjurgens commented on #150
@voxmatt that's for `gql2ts`, can you check `@gql2ts/from-schema` which is a dependency of `gql2ts`

[2018-03-09 01:20] voxmatt commented on #150
sorry, yes, there is a mismatch.

In my package.json I have `"gql2ts": "1.5.0-alpha.51c55d43",`

But diving into `@gql2ts/from-schema` shows `"version": "1.5.0-alpha.cec79414",`

[2018-03-09 01:22] brettjurgens commented on #150
makes sense, can you clear that old version and install the later one?

[2018-03-09 01:35] voxmatt commented on #150
okay, sorry about that, there was a little weirdness with yarn holding onto the old packages, but all seems to work now. Thanks!!

[2018-03-09 01:37] brettjurgens commented on #150
cool, just published `1.4.4` which is identical `51c55d43`

[2018-03-09 01:38] #150 closed

[2018-03-09 01:38] voxmatt commented on #150
awesome, thanks for the quick work

[2018-03-09 16:41] ecwyne opened #155 "graphql should be a peerDependency"
https://github.com/avantcredit/gql2ts/blob/master/packages/util/package.json#L31

This is causing a second version of `graphql` to be installed in my project. (which doesn't work)

[2018-03-09 16:55] brettjurgens commented on #155
@ecwyne why is it causing a second version to be installed? what version are you using?

i made the version range more inclusive yesterday w/ 1.4.4, can you make sure you have that version installed?

[2018-03-09 17:02] ecwyne commented on #155
I had `1.5.0` installed. The ranged version (`>= 0.10 <1.0.0`) included my installed version (`0.12.3`) but installing `@gql2ts/from-schema` installed a *separate* version.

I have since discovered your `cli` package and am using that (which avoids installing `@gql2ts/*` in my project at all)

[2018-03-09 17:11] ecwyne commented on #155
Because there can only be one version of `graphql` installed, `peerDependencies` seems to be the way everyone is specifying a dependency on `graphql` (though several also have it as a `devDependency` (for testing)

https://github.com/graphql/express-graphql/blob/master/package.json#L96
https://github.com/mickhansen/graphql-sequelize/blob/master/package.json#L50
https://github.com/apollographql/gra

[2018-03-09 17:12] brettjurgens commented on #155
makes sense, i'll open a PR moving it to a peer dependency

[2018-03-09 20:00] #155 closed

[2018-03-12 16:42] brettjurgens commented on #155
@ecwyne 1.5.1 has it as a peer dependency

[2018-03-12 22:32] #107 closed

[2018-03-12 22:35] brettjurgens commented on #107
@felixfbecker took a while, but #116 implements this and it's out in 1.7.0

[2018-03-14 20:42] zamiang commented on #127
I know you are working on a longer term solution but how would the above script work if the queries/mutations contain fragments?

For me it appears to generate types for the query that include a reference to a fragment type. But I have been unable to generate the types such that both the fragment and query types are generated, and that the query type for the fragment references the generated fragm

[2018-03-14 20:47] brettjurgens opened #158 "Support Importing Fragments"
brought up by @zamiang here: https://github.com/avantcredit/gql2ts/issues/127#issuecomment-373167558

essentially, in a query that looks like:

[code]

should import the fragment & generate the appropriate typings

[2018-03-14 20:47] brettjurgens commented on #127
@zamiang we don't currently support the `#import` syntax, but i've opened #158 to track that

[2018-03-14 21:09] zamiang commented on #158
While I'm thinking about it. It seems like there are (at least) 3 approaches that we could take here.

1. when generating a type for a query, gql2ts would load any imported fragment and inline the fragment in the generated type for the query
1. a new function that generates a single namespace file for a single fragment (would create a global type for each fragment) ie: FragmentFromImport.d.ts
1. g

[2018-03-14 22:51] brettjurgens commented on #158
So I was leaning towards option 1, option 2 seems more difficult with minimal gain.

I've only given it a little thought, but the caveats I've come up with, so far, are:
- `@gql2ts/from-schema` doesn't know where the file is located, which will complicate relative imports
  - allow passing either the file's directory to resolve the imports (this seems like it might be the best option)
    - cli/po

[2018-03-21 23:47] BinaryMuse commented on #76
👋 Hi there! I'm running into something similar.

---

**Input**

GitHub's public GraphQL schema (`schema.gql`, link to demo repo below) and this sample query (`query.gql`):

[code]

[code]

**Output**

[code]

Note the duplicated `id` fields, as well as the fields directly on `SelectionOnResource` that don't belong to every possible resource, as well as the nested fragment interfaces that @steadic

[2018-03-22 00:00] brettjurgens commented on #76
Thanks @BinaryMuse I'll take a look!

[2018-03-22 00:26] brettjurgens commented on #76
@BinaryMuse based on the test repo I think I've narrowed down the problem to when speads are done like:
[code]

This is obviously valid, but I must have overlooked it.

I'm working on fixing this, but in the meantime you can amend your query to look like:
[code]

I'm going to try to figure out a fix for this tonight, but I'll definitely have something out tomorrow

[2018-03-22 15:12] brettjurgens commented on #76
@BinaryMuse @steadicat would you mind trying against `gql2ts@1.7.2-4`. I think I've fixed the issue in #162.

[2018-03-22 15:27] brettjurgens opened #163 "Roadmap to 2.0"
- [ ] Improve Documentation across the project (it can definitely be cryptic at times)
- [ ] Create more sensible names for the formatters (also probably rename "formatter" to "printer")
- [ ] First-class Flow support
- [ ] Extract a lot of the logic to the printers, in order to handle inconsistencies across language targets (i.e. Language X doesn't have "interfaces", Language Y doesn't have "Part

[2018-03-22 16:00] BinaryMuse commented on #76
@brettjurgens Thanks for the super fast response! I just tried it and it seems to have resolved the issues raised here. 🎉

I think there's an opportunity to generate stronger types in a case such as mine, but I'm happy to open a different issue for that if you prefer.

[2018-03-22 16:19] brettjurgens commented on #76
@BinaryMuse awesome! Not sure if we're talking about the same opportunity, but I noticed in the case where you add fragments on all possible cases for a union/interface, the types could be OR'd instead of Partial and AND'd. if that makes sense.

I also noticed that the __typename produces a `string` as the type, when it should really be the specific type, I'm going to open another issue for that.

[2018-03-22 16:32] BinaryMuse commented on #76
I'm pretty sure we're talking about the same thing; in the example repo I set up, the generated types look something like

[code]

but since we know statically what all the typenames are, it could be something like

[code]

(where `__typename` has been rolled up from from the "selection" into all the possible values)

[2018-03-22 16:39] brettjurgens commented on #76
yep, seems like it's the same case. let me open another issue

[2018-03-22 16:45] brettjurgens opened #164 "Better Fragment Handling"
from this comment by @BinaryMuse https://github.com/avantcredit/gql2ts/issues/76#issuecomment-375371256:

[2018-03-22 16:47] brettjurgens commented on #164
Completely off the top of my head and this might be inaccurate, but my thoughts are:
- need to get specific `__typename` (already going to do)
- in order to do an OR, we probably need to:
  - flatten fragments without a `... on Type`
  - ensure that all cases are covered (might not be necessary if OR'd with non-fragment selection)
  - either:
    - extend fragments with the default selection, with

[2018-03-22 16:48] brettjurgens commented on #76
@BinaryMuse opened https://github.com/avantcredit/gql2ts/issues/164 to track this. I tried to put some thoughts down towards the complexity of it, but I think, overall, that it's definitely doable (and would be a great win)

[2018-03-22 18:05] #76 closed

[2018-03-22 18:09] brettjurgens opened #165 "Add more specific __typename to from-query"
from-query should be able to figure out the `__typename` of an object

[2018-03-23 01:34] #165 closed

[2018-03-23 01:42] brettjurgens commented on #158
adding this to #163

[2018-03-23 01:44] brettjurgens commented on #127
added to #163

[2018-03-23 01:44] brettjurgens commented on #78
added to #163

[2018-03-25 21:08] ntziolis commented on #100
By using `declare` its not possible to reference these types (including the generated enums) during runtime as declare is only for the typescript compiler and dosen't generate any js.

Why not just exchange `declare` with `export`, this makes sure the namespace actually gets compiled to code.

Should not impact any previous use cases while GREATLY improving usefulness of the lib. We have been manu

[2018-03-25 21:12] ntziolis commented on #100
Running into issues sue to using of `declare` vs exporting both namespace and individual interfaces, enums etc.

When trying to reference enum values that get generated from graphql schema, they simply do not exist during runtime when using `declare`.

Any chance for you to implement a flag to export everything instead of a declare?

[2018-04-03 14:08] pie6k commented on #163
You can consider tools like https://github.com/prismake/typegql that actually 'connect' graphql and typescript instead of translating it.

[2018-04-11 00:32] rumdood opened #175 "Overwriting TypeMaps"
I'm working on a new language package, and want to override the types in the DEFAULT_TYPE_MAP, but no matter what I do, everything seems to use the default type map.

e.g.

``export const typeMap: ITypeMap = {
...DEFAULT_TYPE_MAP,
DateTime: 'DateTime'
};``

seems to have no impact. Overriding the DEFAULT_TYPE_MAP also doesn't seem to do anything:

``export const DEFAULT_TYPE_MAP: IDefaultTypeMap =

[2018-04-11 01:11] brettjurgens commented on #175
@rumdood it pulls from TS by default, as you noted. obviously this isn't good.

this will be fixed in #163, but the fix should be easy enough.

I believe we just need to include the typemap in the default export of the language. and then update the packages to pull from there instead of importing from TS.

I have a quick fix open in #175 and published it as 1.8.0-alpha.8bb7d8dc on npm.

let me kno

[2018-04-18 10:46] felixfbecker opened #179 "Enums break .d.ts typings"
Unfortunately the use of real enums means the typings cannot be generated anymore referencing the enums will fail at runtime with `Uncaught ReferenceError: GQL is not defined`. I think using `const enum`s might work, but I think the better solution here is to generate a proper .ts module. That however gets hairy to combine with external modules, as the current file doesn't export anything and it c

[2018-04-18 16:56] brettjurgens commented on #179
I've run into this as well. I've considered going back to the unioned strings, but I'm still unsure.

i've also thought about removing the namespace option altogether.

in the meantime, the solution i've used is to provide overrides for the formatters.

[code]

this is obviously not great, but will hopefully help in the meantime. I think `const enum`s are the way to go (although I've run into anot

[2018-04-26 13:27] greenkeeper[bot] opened #182 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`
- The new Node.js version is in-range for the engines in 1 of your `package.json` files, so that was left alone

If you’re interested in upgrading this repo to Node.js 10

[2018-05-01 18:35] rumdood commented on #175
Sorry for the delay beyond the emoji. Thank you for the fix.

[2018-05-27 01:31] cameronrll commented on #75
I am also currently using a ~~hack~~ work around, but this would be a great feature to have for sure!

[2018-05-27 01:40] cameronrll opened #191 "Support for AWS Appsync Subscriptions"

[2018-05-27 07:57] #191 closed

[2018-05-27 07:58] cameronrll commented on #191
Apologies, ignore this

[2018-06-06 09:13] mikfoo opened #194 "Create new NPM release"
Now that #192 is merged in, it would be awesome if you could make a new release. 🚀

[2018-06-06 18:35] brettjurgens commented on #194
I'm on vacation right now, but I'll see if I can find a way to publish 😁

[2018-06-06 18:40] brettjurgens commented on #194
@mikfoo i'm not on my usual machine, so I've published this as a canary (I'll make an official release when I'm back next week). the version is 1.9.0-alpha.5ddac749

[2018-06-06 18:45] #194 closed

[2018-06-19 08:40] mikfoo opened #197 "Optional GraphQL arrays are not optional on generated interfaces"
In my schema I have something like

[code]

Which should convert to

[code]

But it's converted to

[code]

[2018-06-19 13:42] brettjurgens commented on #197
i'll take a look, thanks for the report

[2018-06-25 18:01] linonetwo commented on #78
`@gql2ts/language-flow` is still generating `declare namespace GQL`, while it's an error:

[code]

[2018-06-25 18:05] brettjurgens commented on #78
@linonetwo I'm not super familiar with how flow declares this. for what it's worth you can overwrite the `generateNamespace` to be: `(_, interfaces) => interfaces` and it will print out all of the contents without the namespace. It seems like a reasonable thing to default to, I'd certainly welcome a PR

[2018-06-25 18:36] linonetwo commented on #78
But @arahansen 's version still ends each line with `;`, while it should be `,`.
So I pass generated content to `prettier-eslint` to fix it:
[code]

[2018-06-27 11:18] harm-less commented on #179
I can confirm the `const enum` works like a charm:

[code]

Note that I'm also replacing the `;` character, but I think that was also mentioned in a different issue.

[2018-06-27 16:24] brettjurgens commented on #78
@linonetwo if prettier is installed, it should run the output through it by default. i'm not sure what you mean about the semicolons, can you give an example? is that in an type/interface declaration?

[2018-06-27 17:50] linonetwo commented on #78
Oh, I found semicolons just disappeared. Maybe...I don't know, Maybe due to my adjustment to build scripts.
It works perfectly now.

My scripts:
[code]
and
[code]

[2018-07-09 19:46] raysuelzer commented on #179
@brettjurgens  it is not valid typescript. It creates an error.

[2018-07-10 18:47] raysuelzer commented on #179
@brettjurgens  if you want i can put in a PR for this, but maybe not until next week.

[2018-07-10 19:19] harshabonthu commented on #197
Isn't this working as expected ?  i.e `userIds: [ID!]` should be converted to `userIds: Array<ID>;`

To get `userIds?: Array<ID> | null;` schema should be `userIds: [ID]`

[2018-07-10 19:31] mikfoo commented on #197
@harshabonthu  The schema would be `userIds: [ID!]!` in that case.  The ! makes it required, without it can return null.

[2018-07-11 18:01] brettjurgens commented on #179
@raysuelzer that'd be great!

I'm still unsure if we should even be doing native enums, because they seem to be causing a few problems. We've reverted to using string unions instead

[2018-07-11 18:08] felixfbecker commented on #179
I think native enums are better for IntelliSense (discovering the members).
Note that const enums have some problems though, they require type info to compile to `transpileOnly` or the beta TS Babel transform will not work if you use them.

[2018-07-11 18:17] brettjurgens commented on #179
@felixfbecker intellisense works well with string unions as well. Const enums are great, but like you said don't work in certain situations.

I think we can keep enums in the from-schema package and use string unions in the from-query. The issue I've been encountering is that two equivalent enums are not equal as far as the type system is concerned. This is mostly an issue with input values (i.e.

[2018-07-11 18:29] felixfbecker commented on #179
Not when the type for the position you are assigning it to cannot be inferred, e.g. cause you are assigning to a variable/property without a type declaration, to a function that takes `any` (e.g. `fetch()` with `JSON.stringify()`), or when the surrounding object is a union type.

That's a problem indeed, and surprises me...

[2018-07-11 18:42] brettjurgens commented on #179
Ah, you're absolutely correct - good point.

I think there's some middle ground that we can hit here, but I'm not entirely sure. I've also thought about using string unions for the values of the fields, but also generating the enum.
e.g.
[code]

but I can't decide if it's good or not

[2018-07-11 19:44] felixfbecker commented on #179
Why not have it configurable?

[2018-07-11 20:16] brettjurgens commented on #179
@felixfbecker it should be, just trying to figure out what the most sane default behavior is. I don't want people generating code that doesn't work in their usecase by default

[2018-07-14 04:22] raysuelzer commented on #179
I already convertee everything to enums, but did find string literals to be less of an issue.

[2018-07-17 18:05] raysuelzer commented on #179
https://github.com/avantcredit/gql2ts/pull/202 @brettjurgens

[2018-07-19 17:51] vjpr commented on #78
@linonetwo Enums don't seem to work.

[2018-07-19 18:12] vjpr commented on #78
Also @linonetwo, you don't need to do this:

[code]

gql2ts can work with `.graphql`. Or is there another reason you need json?

[2018-07-19 20:41] vjpr opened #203 "Bug: Creates duplicate types when case is different"
A schema can have two types that only vary by case. E.g.

[code]

This is valid in graphql...but gql2ts seems to change the case, and not check for duplicates.

[2018-07-19 21:42] brettjurgens commented on #203
Hmm, I think we run the name through pascalize, I think we can probably just remove that.

Didn't realize you could have two types of the same name with different cases

[2018-07-20 23:46] cdaringe opened #204 "ts complains about generated duplicate enum values"
# problem

various enums get generated in my namespace with common keys, which causes a compilation error

# discussion

i use https://github.com/graphile/postgraphile and output it's valid GQL schema.  once piped thru gql2ts, i get a .d.ts ~~:

[code]
==>

[code]

[2018-07-20 23:58] cdaringe commented on #204
here's [the full declaration](https://gist.github.com/cdaringe/028789e0aeb6317ee350fd6586b62a80) file

[2018-07-21 00:16] cdaringe commented on #204
this is some sort of TS config bug.  it makes no sense. moving it to a diff proj works?  no clue.  if you have any idea, let me know!

[2018-07-21 00:16] #204 closed

[2018-07-23 13:51] brettjurgens commented on #179
this should be fixed in `1.8.1`, if not lets reopen

[2018-07-23 13:51] #179 closed

[2018-07-24 17:07] voxmatt commented on #179
Are you guys generating the typings into a non-`.d.ts` file? Maybe I'm missing something, but if a declarations file will get compiled away, even if they are const enums. I feel like I'm misunderstanding @felixfbecker's issue and @raysuelzer's solution.

[2018-07-24 17:15] felixfbecker commented on #179
Yes, I am compiling to a `.ts` file

[2018-07-24 18:31] raysuelzer commented on #179
@voxmatt , the issue I had even happened when using .d.ts file. It did not happen until after I compiled my angular application in production mode.... Might be an issue with their tree shaking, but it definitely caused errors both ways on my end.

[2018-07-24 19:46] voxmatt commented on #179
@felixfbecker did you find a solution for namespace vs. module?

[2018-07-24 19:48] felixfbecker commented on #179
I am using gql2ts programmatically in a Gulpfile to be able to customize it. This is the task:
[code]

[2018-07-30 21:37] brettjurgens opened #207 "Custom Directives"
Define a subset of directives that gql2ts can use for better information.

Some ideas:
1. `@gql2tsSelectionName` -> use a given name instead of generating a `SelectionOnX`

[2018-07-31 18:58] #182 closed

[2018-08-13 04:10] cherihung opened #217 "generated .d.ts lacking exports"
Hi, I used the cli tool to generate a .d.ts file.
Everything works except the generated file doesn't have any `export`. I'm looking at the examples and expecting that it should have a `export default [namespace]` ?

I am using a command like this:
`gql2ts build/schemas.json -o ../common/models/gql_schemas.d.ts`

thank you!

[2018-08-23 06:08] andiwinata opened #219 "`TypeError: Cannot read property 'filter' of undefined` when generating flow/typescript file from schema"
Hello guys, first of all, thanks for creating the library!

However, just recently we are unable to generate flow type from our `schema.graphql` file.
I think this is because we recently added an interface type in our schema file. This is the part that is just recently added:

[code]

If I debug this, it is happening from this code:

[code]

When the error happens, the value of `type` is `Error`,

[2018-08-23 18:35] brettjurgens commented on #219
huh, that's pretty strange. I'll take a look and see if i can reproduce/fix. thanks for the report @andiwinata

[2018-08-24 01:43] andiwinata commented on #219
I think we found the issue, the above sample case probably won't replicate the issue.

The issue is we are declaring `interface Error {}` we don't use it anywhere else, so probably this test case will be able to replicate the issue:

[code]

[2018-08-24 01:45] marco-amoroso commented on #219
I saw that error when our schema had an interface but it is not implemented, basically there is no `type Example implements Error { ... }` in the schema.

Basically we need to exit sooner than:

[code]

doing a check on `poss` being `undefined` or changing `getPossibleTypes` to return an empty array instead.

[2018-08-29 01:26] andiwinata commented on #219
So I guess it is up to whether declaring `interface` without usage is treated as a bug.
If not, which means `interface` **must** be used, I'm happy for this issue to be closed

[2018-08-29 16:17] brettjurgens commented on #219
IMO i think it's an issue to have an interface that isn't being implemented. when we do interfaces we also generate a union type, i.e.

[code]
so I'm unsure what we'd do in this case

[2018-09-02 17:07] felixfbecker commented on #217
I would like a flag to switch to export types instead of a global namespace too. Currently do this through the API:
[code]

[2018-09-02 17:09] felixfbecker opened #221 "Support graphql 14.0.0"
`graphql` just released 14.0.0 (basically their 1.0.0): https://github.com/graphql/graphql-js/releases/tag/v14.0.0

[2018-09-04 13:37] brettjurgens commented on #217
i think a flag is reasonable - because we actually do the same thing as @felixfbecker 😄

[2018-09-04 18:47] rlancer commented on #217
Love the module!

I currently use a shell script to perform the transformation. Looking forward to a first class solution.

[code]

[2018-09-10 15:24] #221 closed

[2018-09-10 15:27] brettjurgens commented on #221
v1.9.0 has support for `graphql@14`

[2018-09-10 15:28] felixfbecker commented on #221
Awesome!

[2018-09-17 15:17] ubbop42 opened #229 "Can u provide an option for no namespace generator"

[2018-09-18 14:09] mikfoo commented on #229
What we did to remove namespace was create our own config file, essentially:

[code]

And then call it like this:

[code]

[2018-09-18 15:37] ubbop42 commented on #229
Hey,
I tried to do the same, but im already using language-flow, as my -e input file. Is there a way to provide two files or, use this while using language flow.
-Thanks

[2018-09-18 19:02] ubbop42 commented on #229
I was just being stupid. Thank you.
And foe ppl having the same problem use this -e $(pwd)/gql2tsConfig.js

[2018-09-18 19:54] brettjurgens commented on #229
I'm definitely open to a PR adding this option - it seems like a common request

[2018-09-19 15:46] #197 closed

[2018-09-21 14:51] kristianmandrup commented on #163
Please add these examples to the main `Readme` of each package and the top level Readme.
Was not entirely clear exactly what where the inputs and outputs.

Cheers :)

[2018-09-22 21:35] obedm503 opened #233 "map scalar to native type"
I have defined a scalar "`Date`" that directly converts the field to a live `Date` object. When generating the `.d.ts` file, the fields typed with this scalar show up as `any`.

I understand that it's not possible for this library to assume that all scalars with the same name as a native type actually map to them. So, is it possible to manually map scalars to some native type?

I would like all th

[2018-09-25 19:52] #233 closed

[2018-09-26 17:31] Razinsky commented on #197
Hi!

I just updated to 1.10.1 and I'm not sure why we should get this result:

This definition:
[code]

was converted to that in version 1.9.0:
[code]
and now is converted to that in version 1.10.1:
[code]
I do understand the rationale but for us, defining a type as `[Order]` should mean that this is an array of orders period. Not an array of \*maybe\* orders.

In order to fix it, we would have to

[2018-09-26 17:56] brettjurgens commented on #197
@Razinsky

`[Order]` is by definition `Array<IOrder | null> | null`

here are the variations
[code]

The previous behavior was actually a bug - this now properly matches the [GraphQL spec](http://facebook.github.io/graphql/June2018/#sec-Combining-List-and-Non-Null)

if the array being resolved is `[ order1, order2, order3, order4, null  ]`, and our type definition says the type is `Array<IOrder> |

[2018-09-27 08:45] nomadoda opened #236 "Cannot find namespace"
Hey! I'm sure I must be doing some rookie mistake, but I'm struggling to get this work.

<details>
<summary>package.json</summary>

[code]
</details>
<br />

I'm successfully able to generate the types from my GQL schemas

<details>
<summary>schema.d.ts</summary>

[code]
</details>
<br />

... but when I try to use them in my resolver I run into the following error:

<details>
<summary>resolver.ts

[2018-09-27 17:39] brettjurgens commented on #236
@nomadoda I think you might need to add it to your tsconfig via the `typeRoots` option

[2018-09-27 17:50] nomadoda commented on #236
@brettjurgens Hm, doesn't seem to solve my issue unfortunately. I added my types folder to the tsconfig `typeroots` which seemed to override some node_modules types. So I included that as well, but I still get the same error.

<details>
<summary>tsconfig.json</summary>

[code]

</details>

[2018-10-12 06:31] yaoyonstudio commented on #236
got the same issue

[2018-10-27 20:53] obedm503 commented on #233
A suggestion: currently the `-e` flag resolves the file relative to the cli source instead of the source of the project using gql2ts.
so my suggestion if to change [this line](https://github.com/avantcredit/gql2ts/blob/master/packages/cli/src/index.ts#L38)
[code]
to
[code]
if this is a desired change, let me know and I can submit a pr

[2018-11-18 15:49] citypaul commented on #236
I'm having the same issue at the moment. I've found I've had to manually change the exported file to go from:

`define namespace GQL{...`

to

`export namespace GQL{...`

I can then pull this in where required and it does work. It'd be great if I didn't have to do this manually though...

[2018-11-22 09:00] s97712 opened #242 "how to export my schema?"
I use @gql2ts/from-schema generate my d.ts file, but it not export anything, how should I correctly export interfaces?

[2018-11-22 09:04] #242 closed

[2018-11-24 04:51] shaheermir commented on #236
Having the same issue here.
Adding it to typeRoots doesn't solve it either. =/

[2018-12-01 03:33] enspdf commented on #236
Currently I'm have the same Issue. But It works fine if i use  the 6.0.0 ts-node version, if i upgrade it to the latest version fails.

[2018-12-01 03:34] enspdf commented on #236
I try but doesn't work... The same issue happens.

[2018-12-02 14:02] sonacy commented on #236
seems that is a ts-node problem.  By default, ts-node does not use files, include or exclude.  If you must use files, enable --files flags or set TS_NODE_FILES=true. so just add --files like: ts-node --files index.ts. works fine to me.

[2018-12-02 15:53] enspdf commented on #236
Can you show us an example plz ?

[2018-12-14 17:37] idosela opened #248 "Question about fragments vs. inline fragments"
It seems like the type for an inline fragment looks like this:
`heroNoParam: Partial<IFragmentSpreadOnDroid> | null`

But if a named fragment is used, the type looks like this:
`heroNoParam: IFragmentDroid | null`

Any reason why the output uses `Partial<>` for inline fragments, but doesn't for named fragment?

[2018-12-23 10:48] ankeeth-coditas commented on #236
Thanks a ton, man!! This worked for me!

[2018-12-24 06:00] juliusdelta commented on #236
@enspdf
[code]

@sonacy Thanks for the fix, worked for me.

[2019-01-01 22:29] cdaringe opened #250 "feature request: gql client library as new package"
# problem

after generating full TS interfaces, i find myself still writing stringy gql queries, serializing them, passing them to fetch, and finally casting the resultant payloads to TS interfaces generated by `fromSchema`.  it's a bummer, as we've gone to such great lengths for strong typing, but my client cannot exploit those typings.

# discussion

just thinking out loud:

[code]

[2019-01-08 18:20] brettjurgens commented on #250
I'm open to something along these lines

[2019-01-14 22:25] colmartofus opened #251 "Can't figure out how to make this work from the README"
Note: I'm new to both typescript and graphql.

I couldn't figure it out from the README so I've tried following the medium post:
https://medium.com/@brettjurgens/graphql-typescript-strongly-typed-api-responses-f8aea1e81b93

I ran the following command:
[code]
which generated my file correctly, full of all of the interfaces I want. I just can't seem to use the definitions. In my typescript file I h

[2019-01-15 23:40] greenkeeper[bot] opened #252 "An in-range update of graphql is breaking the build 🚨"
## The dependency [graphql](https://github.com/graphql/graphql-js) was updated from `14.0.2` to `14.1.0`.

🚨 [View failing branch](https://github.com/avantcredit/gql2ts/compare/master...avantcredit:greenkeeper%2Fgraphql-14.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

graphql is a direct dependency of this project,

[2019-01-16 19:49] brettjurgens commented on #251
for what it's worth, you probably want to generate the definition based on the query and schema, not just the schema

this might be the readme you're looking for: https://github.com/avantcredit/gql2ts/tree/master/packages/cli

[2019-01-17 23:38] colmartofus commented on #251
This looks like what I'm after. Thanks very much.

[2019-01-17 23:38] #251 closed

[2019-03-11 12:56] hediet commented on #250
I didn't understand your stack overflow problem, but I thought about the same thing and I think it's doable. At least, once #https://github.com/Microsoft/TypeScript/issues/30212 is fixed.

[2019-03-11 15:43] hediet commented on #250
This is what I came up with as a proof of concept: https://gist.github.com/hediet/1daa00a21ef69dd8cabb86c6e6558223

[2019-03-11 20:33] cdaringe commented on #250
i have a near working POC as well:

https://github.com/cdaringe/gql-ts-client-codegen/blob/bc004492b3d7e0cb10aeec0e6970813bac40605a/src/target.ts

[2019-03-12 10:30] hediet commented on #250
@cdaringe If you take a look at my approach, you see that my `query` function solves your problem by taking a constrained `T` rather than a `Query<T>`. This way, TypeScript can infer the proper type.

I would also suggest modeling the generated schema types in a way that you can easily transform them (e.g. by annotating their schema-type, see my proof of concept).

[2019-03-12 16:10] cdaringe commented on #250
Nice!  Ya, yours are far more complete.  fromSchema, perhaps as consequence of my graphql output, doesn't map my available params into queryable options.  I need to figure out what's going on there.  I look forward to tinkering with your typings soon

[2019-04-11 22:02] iansu opened #258 "Add eslint-disable to generated types"
By default `tslint:disable` is added to the top of the generated types file. Now that TSLint is deprecated and ESLint is the official way to lint TypeScript files it would be nice to add an `eslint-disable` comment to the top of the file as well.

[2019-04-19 06:35] cdaringe opened #260 "graphql parameters are omitted in typings"
# problem

[code]

yields:

[code]

as you can see, `allFoods` is missing great parameter datas!  i perhaps we generate an extra type, `ParameterizedFoodsConnection` for things that have GqlInputObjects?

Thanks for the consideration & time!

[2019-04-19 06:40] cdaringe commented on #260
i guess it's just a plain `GraphQLObjectType` with `args`

[2019-05-10 01:21] dannycochran opened #261 "A union of object interfaces is formatted oddly with inline fragments"
Related issues:
https://github.com/avantcredit/gql2ts/issues/248

Given the following GraphQL schema:

[code]

And this query against it:

[code]

gql2ts produces the following response for that query:

[code]

I would expect the corresponding query to produce this interface

[code]

1. The `data` field should not be wrapped with `Partial`
2. The interfaces should not be intersected with `&`, but

[2019-05-10 01:27] brettjurgens commented on #261
@dannycochran yeah, this is what I was working on in #195. can you try using v2.0.0-3? It changes the names of the generated interfaces, so not entirely backwards compatible, but it's more accurate.

[2019-05-10 01:49] dannycochran commented on #261
@brettjurgens I'm unable to install at `v2.0.0-3`, I get this error:

[code]

I'm guessing there's some publishing / build steps that that tag is missing?

[2019-05-10 02:10] brettjurgens commented on #261
@dannycochran would it be possible to install via npm instead of git? i don't know if installing via git will work since it's a lerna repo ("gql2ts-base" in the error is the root package.json which doesn't contain anything useful for end-users)

[2019-05-10 02:26] dannycochran commented on #261
@brettjurgens that worked, but I think the new update is having some issues. I now get an error when running `fromQuery` for my first query:

[code]

It looks like it's failing on this fragment, which is the first I try to pass in to `fromQuery` (I loop through all of them):

[code]

[2019-05-10 02:53] brettjurgens commented on #261
hmm...

it looks like you can't generate from just a fragment 😞

I was able to get it working with:

[code]

I'll look into supporting just fragments (I don't know off-hand why it doesn't work)

Will this work-around work in the meantime?

it's possible to inline all of the fragments you use in the query and run through fromQuery. Another thing I always wanted to support was the ability to look fr

[2019-05-10 16:56] dannycochran commented on #261
@brettjurgens I can inline all of the fragments / queries and get `fromQuery` to work, but it looks like the new signature response for `fromQuery` has changed to return a string. It used to return `IFromQueryReturnValue`.

The newly produced string is also missing a lot of my queries and types. It's also no longer creating distinct enums or union values, but inlining them into the type definition

[2019-05-10 19:48] brettjurgens commented on #261
Yeah this was done to simplify the return value. At the time of writing, I didn't see a case where it was useful to split them up - perhaps this was misguided. Do you need this functionality? Duplicates shouldn't be an issue

hmm... this shouldn't be happening. Do you have a minimal example that I can look at to test?

Yeah, this was intentional. the background for this is in #179. The gist of it

[2019-05-12 02:26] felixfbecker commented on #107
We needed to revert to non-const enums to support Babel, would it be possible to make this configurable with a flag?

[2019-05-22 20:57] dannycochran commented on #261
Duplicates are an issue with the current version, but yeah if they're no longer an issue I'm fine with just the `string` signature.

This makes sense and I can adopt this new pattern per your comments.

The error I'm getting is `Error: InlineFragment Must Be Inlined!`. What's interesting is I only get this error when running `fromQuery` on just this query. When I combine all my queries into a sing

[2019-05-24 18:04] brettjurgens commented on #261
Thanks for the sandbox! I think it's because `SpecData` is a union type and I might not have built out support 100% for those 😞 (for context when i was at avant, we typically used interfaces, so I didn't have much test data). Indeed, changing the union to an interface makes the query compile. When I can find some time, I'll add support for unions. (It looks like I left myself a TODO for that 😄 htt

[2019-09-05 16:19] idosela opened #262 "Incorrect error messages when schema contains custom directives"
Since GraphQL schema allows custom directives, it shouldn't display an error when a query contains a reference to a custom directive that's defined on the schema.

See:
https://github.com/amount/gql2ts/blob/b65ff5131f68b356a491b1a80d903270795580af/packages/from-query/src/index.ts#L155-L158

[2019-09-22 19:09] BigsonLvrocha opened #263 "feature request: add option to output interface props of interfaces as partials for types with separated field resolvers"
Hello,

In graphql-yoga it is common to have a field in a type that is resolved with a separated function, so the main resolver will have to return the object with those fields missing for it to be fetched later, if queried. But the interfaces generated by gql2ts do not allow undefined in those fields.

I've been doing a workaround by defining the return of queries with Partial<INode>, but the pro

[2019-10-14 14:12] jLouzado commented on #179
@brettjurgens I think this would be really useful; enums have a lot of known issues which are unlikely to change anytime soon: https://github.com/microsoft/TypeScript/issues/33283

For example, two different queries might both have a key that's exactly the same shape. All the other keys will be inferred (correctly) as being equivalent, except for the enums.

If we could generate string unions inst

[2019-11-09 01:42] greenkeeper[bot] opened #264 "An in-range update of prettier is breaking the build 🚨"
## The dependency [prettier](https://github.com/prettier/prettier) was updated from `1.18.2` to `1.19.0`.

🚨 [View failing branch](https://github.com/amount/gql2ts/compare/master...amount:greenkeeper%2Fprettier-1.19.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

prettier is a direct dependency of this project, and **i

[2019-12-08 14:44] enBonnet commented on #236
Thanks @juliusdelta this works to me

[2020-01-28 16:36] darkphantomke commented on #236
I installed the older version from current version

// Current
"ts-node": "8.6.2"

// Older
"ts-node": "6.0.0"

[2020-02-17 02:10] pnappa commented on #207
A few thoughts, from experience in my current workflow.

I'm using `gql2ts` with Hasura's db. So I concat several queries together which live together in an AWS Lambda, combined with the Hasura schema. This results in nicely named top-level types for the query, as they're based off the name of the query. However, as the queries make similar (but not the same) selections, we end up with SelectionOn

[2020-03-25 17:29] greenkeeper opened #270 "Payment required"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
  🚨 You privatised your repo. 🚨

  Hello!
  You have set your repository to private. From now on Greenkeeper is no longer free. We have disabled your repo for now.
  Please enter your paymen

[2020-06-16 16:33] PeteSolid commented on #251
Hi, I generated the schema.d.ts file but how can I import it and use it? I could find no info in the documentation

[2022-06-10 13:47] markdthompson-SR opened #271 "@gql2ts/language-typescript > @gql2ts/util@1.9.0 support for graphql 15"
We are getting a warning using 'yarn install' with graphql 15.x installed: "@gql2ts/language-typescript > @gql2ts/util@1.9.0" has incorrect peer dependency "graphql@>= 0.10 <15"' and running 'rake graphql:dump_schema && gql2ts' breaks with:

Schema dumped into /myproject/app/graphql/schema.json
/myproject/node_modules/gql2ts/node_modules/graphql/jsutils/instanceOf.js:28
      throw new Error("Cann